body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #212121;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sidebar {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #333;
  padding-top: 50px;
}

.sidebar button {
  display: block;
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #45a049;
}

.content {
  margin-left: 220px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  margin-top: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 30px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #45a049;
}

input, select, textarea {
  padding: 12px;
  margin: 8px;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
}

#expense-history {
  list-style-type: none;
  padding: 0;
  color: #ffffff;
}

#expense-history li {
  padding: 8px;
  background: #555;
  margin: 5px 0;
  border-radius: 5px;
}

#balance-container {
  color: #fff;
  background: #333;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

textarea {
  width: 100%;
  height: 150px;
  font-size: 16px;
  border-radius: 5px;
}

#journal-history {
  margin-top: 20px;
}
